* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

/*####### colors #######*/
:root {
  --background-color: #f5f5f5;
  --button-color: purple;
  --black: black;
}

html {
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  font-size: medium;
  color: #7b7a7a;
}

.box {
  height: 100vh;
  margin: 20px auto;
}

.cards {
  background-color: white;
  border-radius: 30px 30px 30px 30px;
  /* width: 350px; */
  width: 22rem;
  height: 43rem;
  /* margin: 30px 30px 30px 20px; */
  margin: 20px auto;
  position: relative;
}

/* ####### Responsive Design ####### */
@media screen and (min-width: 1444px) {
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cards {
    height: 50rem;
    width: 27rem;
    margin: 30px 30px 30px 20px;
  }
}

/* ####### Set Background Image  #######*/
.image {
  display: block;
  /* background-image: url("/images/asics.jpg"); */
  background-size: cover;
  background-position: center;
  border-radius: 30px 30px 0 0;
  height: 40%;
  width: 100%;
  position: absolut;
}

/* ####### Image Gradient ####### */
.gradient {
  position: absolute;
  height: 40%;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, white);
  top: 0;
  bottom: 0;
}

.gradient-box {
  margin-top: -5.1rem;
}

/* ####### "Photo by" part ###### */
.photo-by {
  font-size: small;
  transform: translate(0.7rem, 0%);
  opacity: 0.5;
  color: black;
}

h2 {
  color: var(--black);
  font-size: 1.3rem;
}

section {
  margin: 3rem 1.5rem;
}

p {
  line-height: 1.2rem;
}

/* ####### Styling Inner Box #######*/
.inner-box {
  background-color: var(--background-color);
  border-radius: 1.5rem;
  width: 93%;
  height: 11.8rem;
  margin: auto;
  display: grid;
  grid-template-areas:
    "header header"
    "size quantity"
    "color colors"
    "add-to-cart add-to-cart";
  grid-template-columns: 1fr 1fr;
}

@media screen and (min-width: 1444px) {
  .inner-box {
    width: 93%;
    height: 17rem;
  }
}

.add-to-cart {
  grid-area: add-to-cart;
}

.price {
  font-size: larger;
  grid-area: header;
  width: fit-content;
  margin: 1rem 1rem 1rem 1rem;
  padding: 0.5rem 7rem 0 8rem;
  border-radius: 0.5rem;
  background-color: white;
}

.size {
  margin-left: 1rem;
  padding: 0.5rem;
}

.quantity {
  margin-right: 0.5rem;
  padding: 0.5rem;
}

#select-tag1 {
  padding-right: 1.5rem;
  margin: 0rem 0.5rem;
  border: none;
}
#select-tag {
  padding-right: 1.5rem;
  border: none;
}

.color {
  margin-left: 1rem;
  padding: 0.5rem;
}

.add-to-cart {
  position: relative;
  margin: 0 1rem -1rem 1rem;
  top: -1.3rem;
  color: white;
  background-color: #237eb8;
  border: none;
  border-radius: 0.5rem;
}

.color {
  display: flex;
  justify-content: flex-start;
  margin-top: -1rem;
}

/*####### Product Colors #######*/

.btn-product-color1 {
  border-radius: 50%;
  border: none;
  width: 1.3rem;
  height: 1.3rem;
  margin: 0.9rem 0 0 0.5rem;
  background: blue;
}

.btn-product-color2 {
  border-radius: 50%;
  border: none;
  width: 1.3rem;
  height: 1.3rem;
  margin: 0.9rem 0 0 0.5rem;
  background: red;
}

.btn-product-color3 {
  border-radius: 50%;
  border: none;
  width: 1.3rem;
  height: 1.3rem;
  margin: 0.9rem 0 0 0.5rem;
  background: black;
}

.btn-product-color4 {
  border-radius: 50%;
  border: none;
  width: 1.3rem;
  height: 1.3rem;
  margin: 0.9rem 0 0 0.5rem;
  background: linear-gradient(to right, rgb(172, 178, 54) 50%, black 50%);
}

.btn-product-color5 {
  border-radius: 50%;
  border: none;
  width: 1.3rem;
  height: 1.3rem;
  margin: 0.9rem 0 0 0.5rem;
  background: linear-gradient(to right, rgb(42, 145, 255) 50%, black 50%);
}

.btn-product-color6 {
  border-radius: 50%;
  border: none;
  width: 1.3rem;
  height: 1.3rem;
  margin: 0.9rem 0 0 0.5rem;
  background: linear-gradient(to right, hotpink 50%, black 50%);
}

.btn-product-color7 {
  border-radius: 50%;
  border: none;
  width: 1.3rem;
  height: 1.3rem;
  margin: 0.9rem 0 0 0.5rem;
  background: linear-gradient(to right, red 50%, white 50%);
}

.btn-product-color8 {
  border-radius: 50%;
  border: none;
  width: 1.3rem;
  height: 1.3rem;
  margin: 0.9rem 0 0 0.5rem;
  background: linear-gradient(to right, black 50%, white 50%);
}

.badge {
  position: relative;
  font-size: small;
  top: -11rem;
  right: -14.5rem;
  background-color: white;
  width: fit-content;
  color: black;
  border-radius: 0.2rem;
  padding: 0.4rem;
  opacity: 0.8;
}

.badge-adidas {
  opacity: 0;
}

@media screen and (min-width: 1444px) {
  .badge {
    top: -14rem;
    right: -19.5rem;
  }

  .add-to-cart {
    margin: 0 1rem 0rem 1rem;
  }

  .price {
    padding: 1rem 9rem 0.1rem 9rem;
  }
}
